html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial;
  background-color: #d1d1d1;
}

.header {
  width: 100%;
  padding: 5px;
  text-align: center;
  background: #808080;
  color: rgb(255, 253, 253);
  font-size: 30px;
  box-shadow: 5px 10px 18px #888888;
  margin-bottom: 30px;
}

h1 {
  text-shadow: 5px 6px 10px #000000;
}

#container {
  background-color: #d1d1d1;
  width: 100%;
  padding-bottom: 20px;
}
.infoAndFindBtns {
  padding-top: 25px;
  width: 25%;
  text-align: center;
  margin: auto;
  background-color: #d1d1d1;
  color: black;
  padding: 10px;
  margin-bottom: 10px;
}

.infoBtn {
  border: 0.5px solid grey;
  background: #2196f3;
  color: white;
  font-size: 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  box-shadow: 5px 6px 6px #888888;
  padding-left: 20px;
  padding-right: 20px;
}

.findBtn {
  border: 0.6px solid grey;
  background: #2196f3;
  color: white;
  font-size: 15px;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  box-shadow: 5px 6px 6px #888888;
}

.searchPlaces {
  width: 100%;
  text-align: center;
  margin: auto;
  background-color: #d1d1d1;
  color: black;
}

div.searchPlaces input[type="text"] {
  padding: 10px;
  font-size: 15px;
  border: 1px solid rgb(53, 53, 53);
  width: 60%;
  background: #f1f1f1;
  border-radius: 4px;
  box-shadow: 5px 10px 18px #888888;
}

div.searchPlaces button {
  width: 10%;
  padding: 10px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 5px 10px 18px #888888;
}

div.searchPlaces button:hover {
  background: #0b7dda;
}

div.searchPlaces::after {
  content: "";
  clear: both;
  display: table;
}

.map-container {
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: #d1d1d1;
  margin-top: 20px;
}

#map {
  height: 90%;
  width: 70%;
  display: inline-block;
  border-radius: 4px;
  box-shadow: 5px 10px 18px #888888;
}

@media only screen and (max-width: 1050px) {
  #map {
    height: 70%;
    width: 100%;
    display: inline-block;
    border-radius: 4px;
    box-shadow: 0px 0px 0px #888888;
  }
}

.footer {
  padding: 10px;
  padding-right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #808080;
  color: white;
  text-align: center;
}

a {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: #2196f3;
  background-color: transparent;
  text-decoration: underline;
}

